<h1>Bem vindo ao site de Registro de Usuarios</h1>

<p>
	Escolha uma das opçoes:
	<ul>
		<li><%= link_to "Cadastro",new_user_path%></li>
		<li><%= link_to "Visualizar Alunos cadastrados",alunos_path%></li>
	</ul>
</p>